@charset "UTF-8";

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }
    * {
     box   
    }

    .item-2 {
        max-width: 470px;
        background-size: cover;

        border-radius: 15px 15px 0px 0px;
            margin-top: 80px;
    }
    #img-effect {
        border-radius: 15px 15px 0px 0px;
        max-width: 470px;
    }


    .item-1 {
        width: 470px;
        height: 2000px;
        padding: 40px 20px;
        padding-bottom: 80px;
        text-align: center;
        font-size: 14px;
        border-radius: 0px 0px 15px 15px;

        margin-bottom: 200px;

    }
    .attribution {
    }
    p {
        margin-bottom: 40px;
    }

    .stats {

        margin-bottom: 0px;
    }

    .container-section2 {
        flex-direction: column;
        align-items: center;

    }

}