@charset "UTF-8";

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@400&display=swap');

:root {
   /* Primary Colors */
   --color-main-bg: hsl(233, 47%, 7%);
   --color-card-bg: hsl(244, 38%, 16%);
   --color-accent: hsl(277, 64%, 61%);

   /* Neutral Colors */
   --color-white: hsl(0, 0%, 100%);
   --color-text-paragraph: hsla(0, 0%, 100%, 0.75);
   --color-text-stats: hsla(0, 0%, 100%, 0.6);

   /* Typography */
   --font-body-size: 15px;
   --font-primary: 'Inter', sans-serif;
   --font-secondary: 'Lexend Deca', sans-serif;
}

* {
   margin: 0;
   border: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   height: 97vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

/*  */

body {
   background-color: var(--color-main-bg);
   font-size: 18px;
}

.item-1 {
   background-color: var(--color-card-bg);
   color: var(--color-white);
   min-height: 446px;
   max-width: 610px;
   padding: 70px;
   padding-right: 130px;
   

}

img {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 446px;
}

.item-w {
   height: 446px;
}
.item-1 h1 {
   font-family: var(--font-primary);
   font-size: 2.1em;
}
.item-1 p {
   color: var(--color-text-paragraph);
   font-family: var(--font-secondary);
   line-height: 1.7em;
   font-size: 15px;
}

img {
   background-color: var(--color-accent);
}

#strong-purple {
   color: var(--color-accent);
}
.content {
   
}

.container-section2 {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   width: 100%

   font-family: var(--font-secondary);


}
.stats {

}
.container-section2 p {
   text-transform: uppercase;
   color: var(--color-text-stats);
   font-size: 15px;
}

.item-2 {
   background-image: url(../images/image-header-desktop.jpg);
   width: 520px;
   height: 446px;
}
#img-effect {
   background-color: var(--color-accent);
   opacity: 0.49;
   width: 520px;
   height: 446px;
}